*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #eaeaea;
    line-height: 1.6;
}

header {
    background-color: cornflowerblue;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 10px;
}

nav.navbar {
    margin-bottom: 15px;
}

nav ul {
    list-style: none;
}

nav li {
    display: block;
    font-size: 1.3rem;
}

nav a {
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* Hero Banner start */

section.hero {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 1rem;
    padding-bottom: 25px;
}

section h1 {
    font-size: 1.5rem;
    margin-top: 15px;
}

a.cta-btn {
    text-decoration: none;
    background: #000;
    color: white;
    margin-top: 10px;
    padding: 1rem 1.5rem;
    border-radius: 5px;
}

section p {
    margin-bottom: 2rem;
}

/* Hero Section Btn Hover */

a.cta-btn:hover {
    background-color: #424242;
    transition: 0.3s;
}

section.cards {
    padding: 1.5rem 1rem;
}

.cards-1 {
    width: 100%;
    background: #fff;
    padding: 1rem 1rem 0.3rem;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Footer  */

footer {
    text-align: center;
    background: #fff;
    color: #666;
    padding: 10px;
    clear: both;
}


@media (min-width: 600px){
    header {
        font-size: 1.2rem;
    }

    nav li {
        display: inline-block;
        margin: 0 0.8rem;
    }

    .hero h1{ 
        font-size: 2.2rem;
    }

    .hero p {
        font-size: 1.2rem;
        padding: 0 1rem;
}

    .cards-1 {
        width: 47%;
        float: left;
        margin: 0.7rem 0.6rem;
    }

    footer{
        display: block;
        font-size: 1rem;
        clear: both;
    }


}

@media (min-width: 992px){
   header {
        font-size: 1.3rem;
   }

   ul li {
        font-size: 1.3rem;
   }

   section.hero h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
   }

   .hero p {
        font-size: 1.4rem;
        padding: 0 3rem;
   }

   a.cta-btn{
        padding: 1rem 2rem;
        font-size: 1.3rem;
   }

   .cards-1{
        font-size: 1.1rem;
        margin-bottom: 1rem;
   }

   footer{
        font-size: 1.1rem;
   }
}